@CHARSET "UTF-8";
body {
	margin: 0;
	padding: 0;
	background-image: url("../images/bg.jpg");
}

#body {
	width: 960px;
	height: 1000px;
	margin: 0px auto;
	text-align: center;
	background-color: #FFFFFF;
}

a {
	text-decoration: none;
}

.text_right {
	float: right;
	margin-right: 20px;
}

